header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

body {
    margin: 0.5rem;
    background: rgb(78, 78, 78);
}

body div {
    width: 100%;
}

.align-right {
    justify-content: flex-end;
}